{% extends "/views/base.html" %}
{% import "/views/macros/components.tpl" as components %}

{% block main %}
  <h2>Badges</h2>
  {% for badge in doc.badges %}
    {{ components.badge(badge.content, badge.badge, badge.overlay, badge.icon) }}
  {% endfor %}

  <h2>Buttons</h2>
  {% for button in doc.buttons %}
    {{ components.button(button) }}
  {% endfor %}

  <h2>Cards</h2>
  <div class="mdl-grid">
  {% for card in doc.cards %}
    <div class="mdl-cell mdl-cell--6-col">
    {{ components.card(card) }}
    </div>
  {% endfor %}
  </div>

  <h2>Chips</h2>
  {% for chip in doc.chips %}
    {{ components.chip(chip) }}
  {% endfor %}
{% endblock %}
