{% macro badge(content, badge, overlap=False, icon=False) %}
  {% set class = ['mdl-badge'] %}
  {% if icon %}
    {% do class.append('material-icons') %}
  {% endif %}
  {% if overlap %}
    {% do class.append('mdl-badge--overlap') %}
  {% endif %}
  {% if icon %}
  <div
    class="{{ class|join(' ') }}"
    data-badge="{{ badge|safe }}"
  >
  {{ content|safe }}
  </div>
  {% else %}
    <span
      class="{{ class|join(' ') }}"
      data-badge="{{ _(badge)|safe }}"
    >
      {{ _(content)|safe }}
    </span>
  {% endif %}
{% endmacro %}

{% macro button(button_options) %}
  {% set class = ['mdl-button', 'mdl-js-button'] %}
  {% if button_options.fab %}
    {% do class.append('mdl-button--fab') %}
  {% endif %}
  {% if button_options.mini_fab %}
    {% do class.append('mdl-button--mini-fab') %}
  {% endif %}
  {% if button_options.raised %}
    {% do class.append('mdl-button--raised') %}
  {% endif %}
  {% if button_options.accent %}
    {% do class.append('mdl-button--accent') %}
  {% endif %}
  {% if button_options.colored %}
    {% do class.append('mdl-button--colored') %}
  {% endif %}
  {% if button_options.ripple %}
    {% do class.append('mdl-js-ripple-effect') %}
  {% endif %}
  {% if button_options.icon %}
    {% do class.append('mdl-button--icon') %}
  {% endif %}
  {% if button_options.class %}
    {% do class.append(button_options.class) %}
  {% endif %}
  <button
    class="{{ class | join(' ') }}"
    type="{{button_options.type or 'button'}}"
    {%- if button_options.target %}
      target="{{button_options.target_type}}{{button_options.target}}"
    {% endif %}
    {%- if button_options.disabled %} disabled {%- endif -%}
  >
    {% if button_options.icon %}
    <i class="material-icons">
      {{ _(button_options.content) | safe }}
    </i>
    {% else %}
      {{ _(button_options.content) | safe }}
    {% endif %}
  </button>
{% endmacro %}

{% macro card(card_options) %}
  <div class="mdl-card mdl-shadow--{{card_options.depth}}dp {{card_options.card_class}}">
    {% if card_options.title %}
      <div class="mdl-card__title">
        <h{{card_options.title_size}} class="mdl-card__title-text">
          {{ _(card_options.title) }}
        </h{{card_options.title_size}}>
      </div>
    {% endif %}

    {% if card_options.supporting_text -%}
      <div class="mdl-card__supporting-text">
        {{ _(card_options.supporting_text) }}
      </div>
    {%- endif %}

    {% if card_options.actions %}
      {% if card_options.actions_bordered %}
      <div class="mdl-card__actions mdl-card--border">
      {% else %}
      <div class="mdl-card__actions">
      {% endif %}
        {% for action in card_options.actions %}
          {{ button(action) }}
        {% endfor %}
      </div>
    {% endif %}

    {% for menu_item in  card_options.menu %}
      <div class="mdl-card__menu">
        {{ button(menu_item) }}
      </div>
    {% endfor %}
  </div>
{% endmacro %}

{% macro chip(chip_options) %}
  {% if chip_options.deletable %}
    <span class="mdl-chip mdl-chip--deleable">
      <span class="mdl-chip__text">
        {{ _(chip_options.content) }}
      </span>
      <button type="button" class="mdl-chip__action">
        <i class="material-icons">
          {{ chip_options.action_icon }}
        </i>
      </button>
    </span>
  {% elif chip_options.button %}
		<button type="button" class="mdl-chip">
			<span class="mdl-chip__text">
				{{ _(chip_options.content) }}
			</span>
		</button>
  {% elif chip_options.contact %}
    <span class="mdl-chip mdl-chip--contact">
      <span
      class="mdl-chip__contact mdl-color--{{chip_options.contact_background}}
      mdl-color-text--{{chip_options.contact_foreground}}">
        {{ _(chip_options.contact_content) }}
      </span>
			<span class="mdl-chip__text">
				{{ _(chip_options.content) }}
			</span>
    </span>
  {% else %}
    <span class="mdl-chip">
      <span class="mdl-chip__text">
        {{ _(chip_options.content) }}
      </span>
    </span>
  {% endif %}
{% endmacro %}

{% macro dialog(dialog_options) %}
  {% do dialog_options.initializer.update({'target_type': 'dialog-'}) %}
  {{ button(dialog_options.initializer) }}
  <dialog
    class="mdl-dialog"
    id="dialog-{{dialog_options.initializer.target}}"
    data-close-target="{{dialog_options.close_class}}"
  >
    <h4 class="mdl-dialog__title">
      {{ _(dialog_options.title) }}
    </h4>
    <div class="mdl-dialog__content">
      <p>{{ _(dialog_options.content) }}</p>
      <p class="errors"></p>
    </div>
    {% if dialog_options.actions %}
    <div
      {% if dialog_options.actions_full_width %}
        class="mdl-dialog__actions mdl-dialog__actions--full-width"
      {% else %}
        class="mdl-dialog__actions"
      {% endif %}
    >
      {% for action in dialog_options.actions -%}
        {{ button(action) }}
      {%- endfor %}
    </div>
    {% endif %}
  </dialog>
{% endmacro %}

{% macro list(items) %}
  <ul class="mdl-list">
    {% for item in items %}
    <li
      {% if item is mapping %}
        {% if item.type == 'two-line' %}
          class="mdl-list__item mdl-list__item--two-line"
        {% elif item.type == 'three-line' %}
          class="mdl-list__item mdl-list__item--three-line"
        {% else %}
          class="mdl-list__item"
        {% endif %}
      {% else %}
      class="mdl-list__item"
      {% endif %}
    >
      <span class="mdl-list__item-primary-content">
        {% if item is mapping and item.primary.preface_content %}
        <i
          class="material-icons mdl-list__item-{{item.primary.preface_type or 'icon'}}"
        >
          {{ item.primary.preface_content }}
        </i>
        {% endif %}
        <span>
          {{ _(item.primary.content if item is mapping else item) }}
        </span>
        {% if item is mapping and item.primary.subtitle -%}
          <span class="mdl-list__item-sub-title">
            {{ _(item.primary.subtitle) }}
          </span>
        {%- endif %}
        {% if item is mapping and item.primary.body -%}
          <span class="mdl-list__item-text-body">
            {{ _(item.primary.body) }}
          </span>
        {% endif %}
      </span>
      {% if item is mapping and item.secondary %}
        <span class="mdl-list__item-secondary-content">
          {% if item.secondary.info %}
            <span class="mdl-list__item-secondary-info">
              {{ _(item.secondary.info) }}
            </span>
          {% endif %}
          {% if item.secondary.action %}
            <a
              class="mdl-list__item-secondary-action"
              href="{{ item.secondary.action.link }}"
            >
              {% if item.secondary.action.icon %}
              <i class="material-icons">{{ item.secondary.action.icon }}</i>
              {% else %}
              {{ _(item.secondary.action.content) }}
              {% endif %}
            </a>
          {% endif %}
        </span>
      {% endif %}
    </li>
    {% endfor %}
  </ul>
{% endmacro %}
