{% macro badge(content, badge, overlap=False, icon=False) %}
  {% set class = ['mdl-badge'] %}
  {% if icon %}
    {% do class.append('material-icons') %}
  {% endif %}
  {% if overlap %}
    {% do class.append('mdl-badge--overlap') %}
  {% endif %}
  {% if icon %}
  <div
    class="{{ class|join(' ') }}"
    data-badge="{{ badge|safe }}"
  >
  {{ content|safe }}
  </div>
  {% else %}
    <span
      class="{{ class|join(' ') }}"
      data-badge="{{ _(badge)|safe }}"
    >
      {{ _(content)|safe }}
    </span>
  {% endif %}
{% endmacro %}

{% macro button(content, raised=False, ripple=False, colored=False, accent=False, disabled=False, fab=False, mini_fab=False, icon=False) %}
  {% set class = ['mdl-button', 'mdl-js-button'] %}
  {% if fab %}
    {% do class.append('mdl-button--fab') %}
  {% endif %}
  {% if mini_fab %}
    {% do class.append('mdl-button--mini-fab') %}
  {% endif %}
  {% if raised %}
    {% do class.append('mdl-button--raised') %}
  {% endif %}
  {% if accent %}
    {% do class.append('mdl-button--accent') %}
  {% endif %}
  {% if colored %}
    {% do class.append('mdl-button--colored') %}
  {% endif %}
  {% if ripple %}
    {% do class.append('mdl-button--ripple') %}
  {% endif %}
  {% if icon %}
    {% do class.append('mdl-button--icon') %}
  {% endif %}
  <button
    class="{{ class | join(' ') }}"
    {%- if disabled %} disabled {%- endif -%}
  >
    {% if icon %}
    <i class="material-icons">
      {{ _(content) | safe }}
    </i>
    {% else %}
      {{ _(content) | safe }}
    {% endif %}
  </button>
{% endmacro %}
